# Build artifacts from migrations
migrations/*/build

# Deploy artifacts from migrations
migrations/*/deploy-data.json
migrations/*/src/config.ts

# Node dependencies
node_modules/

# Smart contract build artifacts
smart_contracts/.smartpy_out
